{{#if tasks}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N.</th>
        <th>Title</th>
        <th>Description</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {{#each tasks}}
        <tr>
          <td>{{@index}}</td>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>
            {{#if done}}
              <a href="/task/{{_id}}/toggledone" class="btn btn-dark">Undone</a>
            {{else}}
              <a href="/task/{{_id}}/toggledone" class="btn btn-success">Done</a>
            {{/if}}
            <a href="/task/{{_id}}/edit" class="btn btn-secondary" >Update</a>
            <a href="/task/{{_id}}/delete" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}

  <div class="text-center bg-dark rounded-2 text-white p-2">
    <h1>No homework</h1>
  </div>

{{/if}}